// .nav {
//   background-color: #3c1053;
//   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
// }

.menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  flex-wrap: wrap;
}

//   li {
//     position: relative;
//   }

//   span {
//     text-decoration: none;
//     color: white;
//     padding: 10px 20px;
//     display: block;
//   }

//   li:hover .submenu {
//     display: block;
//   }
// }

// .submenu {
//   display: none;
//   position: absolute;
//   background-color: #333;
//   top: 100%;
//   left: 0;
//   width: 200px;
//   z-index: 1;

//   li {
//     list-style: none;
//     padding: 0;
//     margin: 0;
//   }
// }

/* Versin buena */

.nav_content {
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
// ul.nav {
//   display: flex;
//   position: relative;
//   flex-direction: row;
//   flex-wrap: wrap;
//   align-items: center;
//   width: 100%;
//   margin: 0 auto;
//   padding: 0;
//   list-style: none;
//   background: #3c1053;
//   border-top-left-radius: 6px;
//   border-top-right-radius: 6px;
// }

.nav {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  list-style: none;
  background: #3c1053;
  color: #e7e6f1;

  span {
    padding-left: 5px;
    display: inline-block;
  }

  > li {
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    height: 58px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
    border-right: 1px solid #72269d;
    min-width: 100px;
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > li:hover {
    background: #72269d;

    .dropdown {
      visibility: visible;
      transform: translate(0, 0);
      z-index: 1;
      width: 200px;

      li {
        padding-left: 10px;
        line-height: 35px;
        text-align: left;
      }

      > li {
        animation-name: slideInLeft;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: backwards;
      }

      li:hover {
        background-color: #d8d5da;
      }
    }
  }

  > li:first-child {
    border-top-left-radius: 6px;
  }
}

.title::after {
  content: "\25BC"; /* Triángulo hacia abajo para indicar el dropdown */
  color: white;
  font-size: 8px;
  padding: 5px;
  text-align: start;
}

// ul.nav > li {
//   position: relative;
//   flex-grow: 1;
//   flex-shrink: 0;
//   height: 60px;
//   font-size: 14px;
//   text-align: center;
//   line-height: 60px;
//   letter-spacing: 1px;
//   cursor: pointer;
//   border-right: 1px solid #72269d;
// }
.text_color_white {
  color: #e7e6f1;
}
.text_color_black {
  color: #3c1053;
  font-size: 12px;
  font-weight: 400;
}
.hover_black:hover {
  background-color: #d8d5da;
}
// ul.nav > li:hover {
//   background: #72269d;
// }
// ul.nav > li:hover ul.dropdown {
//   visibility: visible;
//   transform: translate(0, 0);
//   z-index: 1;
// }
// ul.nav > li:hover ul.dropdown > li {
//   animation-name: slideInLeft;
//   animation-duration: 0.3s;
//   animation-timing-function: ease-in-out;
//   animation-fill-mode: backwards;
// }
// ul.nav > li:first-child {
//   border-top-left-radius: 6px;
// }
// ul.nav > li:last-child {
//   border-top-right-radius: 6px;
// }

.dropdown {
  visibility: hidden;
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  background: #f1f1f1;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 1px 2px 5px -1px rgba(0, 0, 0, 0.15), 0px 4px 14px -1px rgba(0, 0, 0, 0.1);
  transform: translate(0, -60px);
  transition: transform 0.2s ease-out, opacity 0.2s, z-index 0s 0.2s;
  z-index: -1;
}

@keyframes slideInLeft {
  from {
    transform: translate(-25%, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

// styles responsive

.displayNone {
  display: none;
}

.iconClose {
  display: flex;
  justify-content: flex-end;
}

.contentMenuResponse {
  background: #3c1053;
}
.contentIndexMenu {
  background: #3c1053;
  z-index: 100;
  width: 80%;
  max-width: 80%;
  height: 100%;
  max-height: 100%;
  position: relative;
}
.navResponsive {
  position: absolute;
  width: 70vw;
  height: auto;
  background-color: #3c1053;
  color: #fff;
}

.containerNav {
  padding: 10px 20px;

  ul {
    padding: 0;
    margin: 0;

    .consultoria {
      font-weight: bold;
      border-bottom: 1px solid;
      font-size: 18px;
    }

    li {
      list-style: none;
    }

    .itemIcon {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0px;

      p {
        margin: 0;
      }
    }

    .submenu {
      padding-left: 20px;
      background-color: #f1f1f1;
      color: #3c1053;
      li {
        padding: 6px 0;
      }
    }
  }
}

@media (min-width: 568px) {
  .navResponsive {
    width: 55vw;
  }
}
